@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

hr {border-color: DarkSlateBlue}

.logo {float: right;
       width: 64px;}

#emails-options {width: 88%;}

#inbox, #sent, #archived, #compose, #btlogout {margin-right: 8px;
                                               border-radius: 4px;
                                               border-color: DarkSlateBlue;
                                               color: DarkSlateBlue;
                                               font-size: large;}

#btlogout {float: right;
           color: indianred}

#inbox:hover, #sent:hover, #archived:hover,
#compose:hover,  #btlogout:hover   {color: black;
                                    background: white;
                                    font-weight:bolder; }
                                                                                     

#div-login, #div-register, #email-view, #emails-list, #compose-view {width: 88%;}
   
#div-login-header, #div-register-header 
                   {padding: 16px;
                   margin-top: 12px;
                   margin-bottom: 12px;
                   background: linear-gradient(to left, mediumblue 0%, DarkSlateBlue 100%) !important;
                   color: whitesmoke;
                   font-family: 'Courgette', cursive;}

#div-wellcome {width: 88%;
               padding: 16px;
               margin-top: 12px;
               margin-bottom: 12px;
               background: linear-gradient(to left , mediumblue 0%, DarkSlateBlue 100%) !important;
               color: whitesmoke;}

#user-wellcome {font-family: 'Courgette', cursive;}


#user-name {font-family: 'Roboto', sans-serif;
            font-size:large;}

#mailbox-name, #newmail-name, #view-name {font-family: 'Courgette', cursive;
                                          text-align: center;
                                          color: DarkSlateBlue }

textarea {
    min-height: 160px;
}

#compose-form input[type="submit"] {margin-top: 10px;}

#diverror {font-family: Verdana, Geneva, Tahoma, sans-serif;
           font-size: larger;
           font-weight: bold;
           float:left;
           padding: 16px;} 

#botonerror {float: right;
             position: relative;
             padding: 0;
             margin-left: 8px;}

#cruz {font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: larger;
       font-weight: bold;}

.encabezado {font-family: 'Courgette', cursive;
             font-size:large;
             font-weight: bold;
             text-align: center;
             padding-bottom: 8px;
             color: DarkSlateBlue}

.filacorreo {border: 1px solid DarkSlateBlue;
             border-radius: 4px;
             padding: 4px;
             margin-bottom: 6px;
             background: white;
             font-family: 'Roboto', sans-serif;
             font-size:medium;
             text-align: center;
             color: DarkSlateBlue}

.filacorreo:hover {opacity: 80%;
                   color: black;  
                   cursor:pointer;
                   font-weight: bolder;}

#view-action:hover {cursor:pointer;
                    font-weight: bolder;}

#view-titles {font-family: 'Roboto', sans-serif;
              font-size:medium;
              text-align: center;
              color: darkslateBlue}

#view-body {border: 1px solid DarkSlateBlue;
            border-radius: 4px;
            padding: 16px;
            color: darkslateBlue;
            font-family: 'Roboto', sans-serif;
            font-size:medium;
            font-style: oblique;
            text-align:justify}

/* Animations */

@keyframes cambio {
       0% {
           opacity: 1;
           height: 100%;
           line-height: 100%;
           padding: 4px;
           margin-bottom: 6px;
       }
       75% {
           opacity: 0;
           height: 100%;
           line-height: 100%;
           padding: 4px;
           margin-bottom: 6px;
       }
       100% {
           opacity: 0;
           height: 0px;
           line-height: 0px;
           padding: 0px;
           margin-bottom: 0px;
       }
   }
   
