{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div id="div-wellcome">
    <h2 id="user-wellcome"> Wellcome: <text id="user-name">{{ request.user.email }}</text><img id="logo" src="/static/mail/icon2.png" ></h2>
    </div>
    <div id="emails-options">
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}" id="btlogout">Log Out</a>
    <hr>
    </div>


    <div id="email-view">

        <h3 id="view-name">View</h3>

        <hr>

        <div class="container" id="view">

            <div class="row encabezado">
                <div class="col-3">From</div>
                <div class="col-5">Subject</div>
                <div class="col-3">Date</div>
                <div class="col-1">Action</div>
            </div>

            <div class="row" id="view-titles">
                <div class="col-3" id="view-from"></div>
                <div class="col-5" id="view-subject"></div>
                <div class="col-3" id="view-date"></div>
                <div class="col-1" id="view-action">
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="view-body"></div>
            </div>
        
        </div>
    </div>


    <div id="emails-list">

    </div>


    <div id="compose-view">
        <h3 id="newmail-name">New Email</h3>
        <hr>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" value="Send"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}